@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Way<br />
    Columbus, OH 43081<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="ernicholson22@gmail.com">ernicholson22@gmail.com</a><br />

</address>
