@model CompetitorsModel
@{
    ViewData["Title"] = "New Competitor Registration";
}

<h2>New Competitor Registration</h2>

<form asp-controller="competitorregistration" asp-action="NewCompetitor" method="post">

    <table>
        <tbody>
            <tr>
                <td><label asp-for="FirstName">Enter your First Name:</label></td>
                <td><input asp-for="FirstName" /></td>
            </tr>
            <tr>
                <td><label asp-for="LastName">Enter your Last Name:</label></td>
                <td><input asp-for="LastName" /></td>
            </tr>
            <tr>
                <td><label asp-for="TeamName">Enter your Team Name:</label></td>
                <td><input asp-for="TeamName" /></td>
            </tr>
            <tr>
                <td><label asp-for="BirthDate">Enter your Birthdate:</label></td>
                <td><input asp-for="BirthDate" /></td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Weight">Select Weight Class:</label>
                </td>
                <td>
                    <select asp-for="Weight" asp-items="CompetitorsModel.WeightChoice"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Gender">Select Gender:</label>
                </td>
                <td>
                    <select asp-for="Gender" asp-items="CompetitorsModel.GenderChoice"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="BeltRank">Select Belt:</label>
                </td>
                <td>
                    <select asp-for="BeltRank" asp-items="CompetitorsModel.BeltRankChoice"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="NogiRank">Select Nogi Experience:</label>
                </td>
                <td>
                    <select asp-for="NogiRank" asp-items="CompetitorsModel.NogiExpChoice"></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="CompetitionId">Select A Competition:</label>
                </td>
                <td>
                    <select asp-for="CompetitionId" asp-items="CompetitorsModel.CompetitionChoice"></select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Register" /></td>
            </tr>
        </tbody>
    </table>

</form>